
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for (@product) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.input :description %>
      <%= f.select :category, [ 'Autre', 'Ceinture', 'Chapeau', 'Chaussures', 'Foulard', 'Pull', 'Jupe', 'Robe' ], :prompt => 'Choisir une categorie' %>
      <%= f.input :price %>
      <%= f.select :sexe, [ 'Femme', 'Homme', 'Homme & Femme' ], :prompt => 'Choisir un sexe' %>
      <%= f.input :taille %>
      <%= f.input :marque %>
      <%= f.select :etat, [ 'Neuf', 'Bon état', 'Moyen', 'Usé', 'Trés usé' ], :prompt => 'Selectionner un état' %>
      <%= f.input :matiere, placeholder:"coton, cuir..." %>
      <%= f.input :couleur %>
      <%= f.button :submit %>
      <% end %>
    </div>

