  <ol class="breadcrumb wrapper-blue">
    <li><%= link_to "Accueil", root_path %></li>
    <li class="active">Liste des articles</li>
  </ol>

<div class="container">
  <div class="row">
    <header class="col-sm-12 text-center">
      <div class="card card-inverse" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1478391679764-b2d8b3cd1e94?w=2850&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
        <div class="card-block">
        <h1 class="card-title">Dans nos armoires</h1>
        <p class="card-text">Rechercher dans nos armoires vos articles favoris </p>

        </div>
      </div>
    </header>
  </div>
    <div class="col-sm-12 text-center">
    <form action="<%= products_path %>">
      <input type="text" placeholder="Jupe..." name="search_key">
      <button type="submit">Rechercher</button>
    </form>
    </div>

    <div class="row">
      <% if user_signed_in? %>
        <% if current_user.vendor? %>
          <aside class="col-sm-3">
      <ul class="nav nav-sidebar">
        <li class="sidebar_overview"><%= link_to new_product_path do %><i class="fa fa-plus-square"></i><%= t(".profile", default: " Ajouter un article") %><% end %>
        </li>
        <li class="sidebar_overview"><%= link_to new_product_path do %><i class="fa fa-eye"></i><%= t(".profile", default: " Tous mes articles") %><% end %>
        </li>
        <li class="sidebar_overview"><%= link_to evenements_path do %><i class="fa fa-check-square"></i><%= t(".profile", default: " Reserver un stand") %><% end %>
        </li>

        <li class="sidebar_editprofil"><%= link_to edit_user_registration_path do %><i class="fa fa-user"></i><%= t(".profile", default: " Editer mon profile") %><% end %>
        </li>
      </ul>
          </aside>
        <% end %>
      <% end %>

      <section class="col-sm-12">
        <div class="cards-container">
          <% @products.each do |product| %>
            <div class="col-xs-12 col-md-3">
              <%= render "card", product: product %>
            </div>
            <% end %>
        </div>
      </section>
    </div>
  </div>





