  <ol class="breadcrumb wrapper-blue">
    <li><%= link_to "Accueil", root_path %></li>
    <li class="active">Liste des articles</li>
  </ol>
<div class="content">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-center">
        <form action="<%= products_path %>">
          <input type="text" placeholder="Jupe..." name="search_key">
          <button type="submit">Rechercher</button>
        </form>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <% @products.each do |product| %>
      <div class="cards-container">
        <%= render "card", product: product %>
      </div>
      <% end %>
    </div>
  </div>

</div>
</div>


    <!-- menu user
    <div class="row">
      <% if user_signed_in? %>
        <% if current_user.vendor? %>
          <aside class="col-sm-3">
      <ul class="nav nav-sidebar">
        <li class="sidebar_overview"><%= link_to new_product_path do %><i class="fa fa-plus-square"></i><%= t(".profile", default: " Ajouter un article") %><% end %>
        </li>
        <li class="sidebar_overview"><%= link_to new_product_path do %><i class="fa fa-eye"></i><%= t(".profile", default: " Tous mes articles") %><% end %>
        </li>
        <li class="sidebar_overview"><%= link_to evenements_path do %><i class="fa fa-check-square"></i><%= t(".profile", default: " Reserver un stand") %><% end %>
        </li>

        <li class="sidebar_editprofil"><%= link_to edit_user_registration_path do %><i class="fa fa-user"></i><%= t(".profile", default: " Editer mon profile") %><% end %>
        </li>
      </ul>
          </aside>
        <% end %>
      <% end %>
    </div>

    -->







