<ol class="breadcrumb wrapper">
  <li><%= link_to "Accueil", root_path %></li>
  <li><%= link_to "Liste des articles", products_path %></li>
  <li class="active">Article: <%= @product.name %></li>
</ol>

<div class="container">
      <% if user_signed_in? %>
        <% if current_user.vendor? %>
  <div class="sidebar">

      <ul class="nav nav-sidebar">
        <li class="sidebar_overview"><%= link_to new_product_path do %><i class="fa fa-eye"></i><%= t(".profile", default: " Tous mes articles") %><% end %>
        </li>
        <li class="sidebar_overview"><%= link_to edit_product_path do %><i class="fa fa-magic"></i><%= t(".profile", default: " Modifier cet article") %><% end %>
        </li>
        <li class="sidebar_overview"><%= link_to "Supprimer l'article", product_path(@product),
                method: :delete,
                data: { confirm: "Êtes-vous sûr de vouloir supprimer cet article?" } %>
        </li>

        <li class="sidebar_overview"><%= link_to evenements_path do %><i class="fa fa-check-square"></i><%= t(".profile", default: " Reserver un stand") %><% end %>
        </li>

        <li class="sidebar_editprofil"><%= link_to edit_user_registration_path do %><i class="fa fa-user"></i><%= t(".profile", default: " Editer mon profile") %><% end %>
        </li>
      </ul>

        <% end %>
      <% end %>
  </div>

<div class="page-container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1><strong><%= @product.name %></strong></h1>
            <p class="product-price"><strong><%= @product.price %> euros </strong></p>
          <span class="label label-primary"><%= @product.category %></span>
          <span>No. 1960140180</span>
          <p class="description"><strong><%= @product.description %></strong></p>
          <span class="sr-only">Four out of Five Stars</span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="label label-success">61 avis sur le vendeur</span>
          <br>
          <br>
          <button class="btn btn-lg btn-danger btn-full-width">
           Ajouter au panier
          </button>
        </div>
      </div>
    </div>
    <div class=”col-md-6”>
      <div class="img-thumbnail">
        <% if @product.photo? %>
        <%= cl_image_tag @product.photo.path, width: 250, height: 200, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>

<!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="active">
      <a href="#description"
       aria-controls="description"
       role="tab"
       data-toggle="tab"
      >Détails de l'article</a>
     </li>
     <li role="presentation">
      <a href="#features"
       aria-controls="features"
       role="tab"
       data-toggle="tab"
      >Détail du vendeur</a>
     </li>
    </ul>
<!-- Tab panes -->
  <div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="description">
      <p>Matière: <strong><%= @product.matiere %></strong></p>
      <p>Taille: <strong><%= @product.taille %></strong></p>
      <p>Sexe: <strong><%= @product.sexe %></strong></p>
      <p>Couleur: <strong><%= @product.couleur %></strong></p>
      <p>Etat: <strong><%= @product.etat %></strong></p>
   </div>
   <div role="tabpanel" class="tab-pane top-10" id="features">
  <%= image_tag "https://avatars1.githubusercontent.com/u/26875527?v=4", class: "avatar dropdown-toggle" %>
   <p><strong><%= @product.user.username %></strong></p>
          <span class="sr-only">Four out of Five Stars</span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="label label-success">61 avis</span>
          <p><%= @product.user.description %></p>
    </div>
    </div>
  </div>
</div>
