<ol class="breadcrumb wrapper-blue">
  <li><%= link_to "Accueil", root_path %></li>
  <li><%= link_to "Liste des articles", products_path %></li>
  <li class="active">Article: <%= @product.name %></li>
</ol>

<div class="container">
    <div class="row">
      <% if user_signed_in? %>
        <% if current_user.vendor? %>
          <aside class="col-sm-3">
      <ul class="nav nav-sidebar">
        <li class="sidebar_overview"><%= link_to new_product_path do %><i class="fa fa-eye"></i><%= t(".profile", default: " Tous mes articles") %><% end %>
        </li>
        <li class="sidebar_overview"><%= link_to edit_product_path do %><i class="fa fa-magic"></i><%= t(".profile", default: " Modifier cet article") %><% end %>
        </li>
        <li class="sidebar_overview"><%= link_to "Supprimer l'article", product_path(@product),
                method: :delete,
                data: { confirm: "Êtes-vous sûr de vouloir supprimer cet article?" } %>
        </li>

        <li class="sidebar_overview"><%= link_to evenements_path do %><i class="fa fa-check-square"></i><%= t(".profile", default: " Reserver un stand") %><% end %>
        </li>

        <li class="sidebar_editprofil"><%= link_to edit_user_registration_path do %><i class="fa fa-user"></i><%= t(".profile", default: " Editer mon profile") %><% end %>
        </li>
      </ul>
          </aside>
        <% end %>
      <% end %>
<div class="content"
  <div class="container">
    <div class="row">
    <div class=”col-md-6”>
      <div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @product.photo.path, height: 300, width: 400, crop: :fill %>')">
  <div class="card-category">
  <span class="label label-primary"><%= @product.category %></span>
  </div>
  <div class="card-description">
    <p><strong><%= @product.name %></strong></p>
    <p><%= @product.marque %></p>
    <span class="label label-danger"><%= humanized_money_with_symbol(@product.price) %></span>
  </div>
    <img class="card-user" src="https://avatars1.githubusercontent.com/u/26875527?v=4">
       <%= link_to "", product_path(@product), class: "card-link" %>
</div>
</div>





    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1><strong><%= @product.name %></strong></h1>
            <p class="product-price"><strong><%= humanized_money_with_symbol(@product.price) %></strong></p>
          <span class="label label-primary"><%= @product.category %></span>
          <span><%= @product.sku %></span>
          <p class="description"><strong><%= @product.description %></strong></p>
          <span class="sr-only">Four out of Five Stars</span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="label label-success">61 avis sur le vendeur</span>


          <br>
          <br>
<%= form_tag orders_path do %>
  <%= hidden_field_tag 'product_id', @product.id %>
  <%= submit_tag 'Ajouter au panier', class: 'btn btn-danger' %>
<% end %>
        </div>
      </div>
    </div>

   <div class=”col-md-6”>
      <div class="img-thumbnail">
        <% if @product.photo? %>
        <%= cl_image_tag @product.photo.path, width: 250, height: 200, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>













<!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="active">
      <a href="#description"
       aria-controls="description"
       role="tab"
       data-toggle="tab"
      >Détails de l'article</a>
     </li>
     <li role="presentation">
      <a href="#features"
       aria-controls="features"
       role="tab"
       data-toggle="tab"
      >Détail du vendeur</a>
     </li>
    </ul>
<!-- Tab panes -->
  <div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="description">
      <p>Matière: <strong><%= @product.matiere %></strong></p>
      <p>Taille: <strong><%= @product.taille %></strong></p>
      <p>Sexe: <strong><%= @product.sexe %></strong></p>
      <p>Couleur: <strong><%= @product.couleur %></strong></p>
      <p>Etat: <strong><%= @product.etat %></strong></p>
   </div>
   <div role="tabpanel" class="tab-pane top-10" id="features">
  <%= image_tag "https://avatars1.githubusercontent.com/u/26875527?v=4", class: "avatar dropdown-toggle" %>
   <p><strong><%= @product.user.username %></strong></p>
          <span class="sr-only">Four out of Five Stars</span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="label label-success">61 avis</span>
          <p><%= @product.user.description %></p>
   </div>
  </div>
</div>
</div>
