
<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'><%= evenement.zipcode %></div>
  </div>
  <%= image_tag "kudoz.jpg", class:"product-image hidden-xs"  %>
  <div class='product-body'>
    <h4><%= evenement.name %></h4>
    <p><%= evenement.date %></p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><%= link_to "Disposer d'un stand en tant que vendeuse", evenement_path(evenement) %><i class="fa fa-calendar-plus-o"></i></li>
  </ul>
</div>
