<ol class="breadcrumb wrapper-blue">
  <li><%= link_to "Accueil", root_path %></li>
  <li><%= link_to "Nos vides dressing", evenements_path %></li>
  <li class="active"><%= @evenement.name %>: le <%= @evenement.date %></li>
</ol>

<h4><%= @evenement.name %></h4>
<p><%= @evenement.date %></p>
<p><%= @evenement.address %></p>
